.page__footer {
  padding: 60px 0;
  background-color: $dark-bg-color;
}
.footer__container {
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and(min-width:1200px) {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
  }
}

// -----------Logo---------------------
.logo__margin {
  display: block;
  margin-bottom: 20px;
}
.logo__white {
  color: $primary-white-color;
}
