.page__footer {
  padding: 60px 0;
  background-color: $dark-bg-color;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.address__margin {
  margin-right: 70px;
}
// -----------Logo---------------------
.logo__margin {
  display: block;
  margin-bottom: 20px;
}
.logo__white {
  color: $primary-white-color;
}
// -------------address-----------------

// -------------------join-------------------------------

// ------------subsribe---------------------------------
