.subscribe {
  @media screen and(max-width: 1199px) {
    text-align: center;
    margin-top: 60px;
  }
  @media screen and(min-width:1200px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // @media screen and(min-width: 480px) {

  // }

  @media screen and(min-width:1200px) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
.subscribe__label {
  @media screen and(max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and(min-width:1200px) {
    margin-right: 12px;
  }
}
.subscribe__input {
  padding: 15px 0 15px 16px;
  // width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  color: $primary-white-color;
  @media screen and(min-width: 480px) {
    width: 450px;
  }

  @media screen and(min-width:1200px) {
    width: 358px;
  }
}

.icon__send {
  margin-left: 10px;
}

.centered {
  display: flex;
  align-items: center;
}
