body {
  padding-top: 64px;
  font-family: roboto, sans-serif;
  color: $main-text-color;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
